<footer class="footer vw-100 mt-auto py-5 bg-light border-top">
  <div class="container-fluid px-5">
    <div class="row mb-4">
      <div class="col-12 col-md-4 mb-4">
        <h5 class="fw-bold mb-3">Support</h5>
        <ul class="list-unstyled">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Guest Support</a></li>
          <li><a href="#">Cancellation Options</a></li>
          <li><a href="#">Safety Resources</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <h5 class="fw-bold mb-3">Hosting</h5>
        <ul class="list-unstyled">
          <li><a href="/listings/new">Host your home</a></li>
          <li><a href="/listings/new">Host experiences</a></li>
          <li><a href="/listings/new">Responsible hosting</a></li>
          <li><a href="#">Community forum</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <h5 class="fw-bold mb-3">SiraStay</h5>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press Center</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div
      class="f-info d-flex justify-content-between align-items-center flex-wrap mt-4"
    >
      <div class="f-info-socials">
        <a href="#" class="me-4"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="me-4"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="me-4"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="f-info-brand">
        <span>&copy; 2025 SiraStay, Inc.</span>
        <span class="mx-3">·</span>
        <a href="/privacy">Privacy</a>
        <span class="mx-3">·</span>
        <a href="/terms">Terms</a>
        <span class="mx-3">·</span>
        <a href="/sitemap">Sitemap</a>
      </div>
    </div>
  </div>
</footer>
