<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiraStay</title>
</head>
<body>
    <h1>Welcome to SiraStay</h1>
    <div class="contianer">
        <%-body%>
    </div>
</body>
</html>